/* Fontes usadas */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* cores usada*/
:root {
  --primary-color: #e06951;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffffff;
}
html {
  scroll-behavior: smooth;
}
img {
  object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.main-menu li a {
  display: block;
  padding: 20px 30px;
  font-family: Poppins;
}
